<div class="flex flex-col grow p-2">
    <div class="flex mb-2">
        <input
            class="grow text-black p-2 m-2 rounded-md placeholder:text-slate"
            [ngModel]="campaign.name"
            (ngModelChange)="onNameChanged($event)"
            i18ln-title title="Campaign Title" 
            placeholder="Campaign Title"/>
        <div class="mb-2 flex">
            <button
                class="p-2 mx-1 rounded-md text-white bg-dark-action hover:bg-dark-action-hover"
                (click)="onSaveClicked()">
                <img class="w-[24px] h-[22px]" src="assets/save-white.png" i18n-title title="Save Campaign" alt="Save Campaign"/>
            </button>
            <button
                class="p-2 mx-1 rounded-md text-white bg-dark-action hover:bg-dark-action-hover"
                (click)="onCreateClicked()"
                i18n
                i18n-title
                title="Add Entry">
                    Add Entry
            </button>
        </div>
    </div>
    <div class="mb-4" *ngFor="let entry of campaign.entries; let i = index">
        <app-entry [(entry)]="campaign.entries[i]"></app-entry>
    </div>
</div>
