<div class="flex flex-col grow p-2">
    <div class="flex mb-2 border-b-2 border-slate-700">
        <div class="mb-2 flex flex-auto">
            <input
                class="grow text-white p-2 m-2 rounded-md placeholder:text-slate-700 bg-dark-input-bg"
                [ngModel]="campaign.name"
                (ngModelChange)="onNameChanged($event)"
                i18n-title title="Campaign Title" 
                i18n-placeholder placeholder="Campaign Title"/>
        </div>
        <div class="mb-2 flex">
            <button
                class="p-2 m-2 rounded-md text-white bg-dark-action hover:bg-dark-action-hover"
                (click)="onSaveClicked()"
                i18n i18n-title title="Save Campaign">
                <img class="w-[28px] h-[28px]" src="assets/save-white.png" i18n-title title="Save Campaign" alt="Save Campaign"/>
            </button>
            <button
                class="p-2 m-2 rounded-md text-white bg-dark-action hover:bg-dark-action-hover"
                (click)="onCreateClicked()"
                i18n i18n-title title="Add Entry">
                <img class="w-[28px] h-[28px]" src="assets/add-white.png" i18n-title title="Add Entry" alt="Add Entry"/>
            </button>
        </div>
    </div>
    <div class="overflow-y-scroll">
        <div class="mb-4" *ngFor="let entry of campaign.entries; let i = index">
            <app-entry [(entry)]="campaign.entries[i]" (entryDelete)="onDeleteEntry(entry)"></app-entry>
        </div>
    </div>
</div>
